<div id="blocklyDiv" style="position: absolute"></div>
<xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
  <category css-icon="bi bi-gear" name="Logic" colour="%{BKY_LOGIC_HUE}">
    <block type="controls_if"></block>
    <block type="logic_compare"></block>
    <block type="logic_operation"></block>
    <block type="logic_negate"></block>
    <block type="logic_boolean"></block>
    <block type="logic_null"></block>
    <block type="logic_ternary"></block>
  </category>
  <category css-icon="bi bi-arrow-repeat" name="Loops" colour="%{BKY_LOOPS_HUE}">
    <block type="controls_repeat_ext">
      <value name="TIMES">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
    </block>
    <block type="controls_whileUntil"></block>
    <block type="controls_for">
      <value name="FROM">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="TO">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
      <value name="BY">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
    </block>
    <block type="controls_forEach"></block>
    <block type="controls_flow_statements"></block>
    
  </category>
  <category css-icon="bi bi-calculator" name="Math" colour="%{BKY_MATH_HUE}">
    <block type="math_number">
      <field name="NUM">123</field>
    </block>
    <block type="math_arithmetic">
      <value name="A">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="B">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
    </block>
    <block type="math_single">
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">9</field>
        </shadow>
      </value>
    </block>
    <block type="math_trig">
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">45</field>
        </shadow>
      </value>
    </block>
    <block type="math_constant"></block>
    <block type="math_number_property">
      <value name="NUMBER_TO_CHECK">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
    </block>
    <block type="math_round">
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">3.1</field>
        </shadow>
      </value>
    </block>
    <block type="math_on_list"></block>
    <block type="math_modulo">
      <value name="DIVIDEND">
        <shadow type="math_number">
          <field name="NUM">64</field>
        </shadow>
      </value>
      <value name="DIVISOR">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
    </block>
    <block type="math_constrain">
      <value name="VALUE">
        <shadow type="math_number">
          <field name="NUM">50</field>
        </shadow>
      </value>
      <value name="LOW">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="HIGH">
        <shadow type="math_number">
          <field name="NUM">100</field>
        </shadow>
      </value>
    </block>
    <block type="math_random_int">
      <value name="FROM">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="TO">
        <shadow type="math_number">
          <field name="NUM">100</field>
        </shadow>
      </value>
    </block>
    <block type="math_random_float"></block>
    <block type="math_atan2">
      <value name="X">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="Y">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
    </block>
    <block type="data_convert">
      <field name="types">int</field>
    </block>
  </category>
  <category css-icon="bi bi-body-text" name="Text" colour="%{BKY_TEXTS_HUE}">
    <block type="text"></block>
    <block type="text_join"></block>
    <block type="text_append">
      <value name="TEXT">
        <shadow type="text"></shadow>
      </value>
    </block>
    <block type="text_length">
      <value name="VALUE">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_isEmpty">
      <value name="VALUE">
        <shadow type="text">
          <field name="TEXT"></field>
        </shadow>
      </value>
    </block>
    <block type="text_indexOf">
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR">{textVariable}</field>
        </block>
      </value>
      <value name="FIND">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_charAt">
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR">{textVariable}</field>
        </block>
      </value>
    </block>
    <block type="text_getSubstring">
      <value name="STRING">
        <block type="variables_get">
          <field name="VAR">{textVariable}</field>
        </block>
      </value>
    </block>
    <block type="text_changeCase">
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_trim">
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_print">
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="printx"></block>
    <block type="text_prompt_ext">
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
  </category>
  <category css-icon="bi bi-list-check" name="List" colour="%{BKY_LISTS_HUE}">
    <block type="lists_create_with">
      <mutation items="0"></mutation>
    </block>
    <block type="lists_create_with"></block>
    <block type="lists_repeat">
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">5</field>
        </shadow>
      </value>
    </block>
    <block type="lists_length"></block>
    <block type="lists_isEmpty"></block>
    <block type="lists_indexOf">
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR">{listVariable}</field>
        </block>
      </value>
    </block>
    <block type="lists_getIndex">
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR">{listVariable}</field>
        </block>
      </value>
    </block>
    <block type="lists_setIndex">
      <value name="LIST">
        <block type="variables_get">
          <field name="VAR">{listVariable}</field>
        </block>
      </value>
    </block>
    <block type="lists_getSublist">
      <value name="LIST">
        <block type="variables_get">
          <field name="VAR">{listVariable}</field>
        </block>
      </value>
    </block>
    <block type="lists_split">
      <value name="DELIM">
        <shadow type="text">
          <field name="TEXT">,</field>
        </shadow>
      </value>
    </block>
    <block type="lists_sort"></block>
  </category>
  <category css-icon="bi bi-cup" name="Variables" colour="%{BKY_VARIABLES_HUE}" custom="VARIABLE"></category>
  <category css-icon="bi bi-collection" name="Functions" colour="%{BKY_PROCEDURES_HUE}" custom="PROCEDURE"></category>

  <category css-icon="bi bi-diagram-3" name="Dictionary" colour="330">
    <block type="key_value"></block>
    <block type="dict"></block>
    <block type="get_value_dict">
      <field name="NAME" id=";qh,!l{OI)[EzHx}XUMX">item</field>
    </block>
  </category>
  <category css-icon="bi bi-clock" name="Times" colour="330">
    <block type="open_time"></block>
    <block type="time_sleep">
      <field name="second">1</field>
    </block>
  </category>
  <category css-icon="bi bi-globe" name="Requests" colour="20">
    <block type="import_requests"></block>
    <block type="request_post"></block>
    <block type="get_response_text">
      <field name="NAME" id="]r*T!a=x6yGkC_B/cbCF">item</field>
    </block>
    <block type="get_status_code">
      <field name="NAME" id="]r*T!a=x6yGkC_B/cbCF">item</field>
    </block>
  </category>
  <category css-icon="bi bi-cpu" name="IoT" colour="230">
    <block type="iot_machine">
      <field name="ip">ip</field>
    </block>
    <block type="iot_led">
      <field name="state">on</field>
    </block>
    <block type="iot_beep">
      <field name="state">on</field>
    </block>
    <block type="iot_tone">
      <field name="state">do</field>
      <field name="duration">200</field>
    </block>
    <block type="iot_temperature">
      <field name="celsius" id="?_d+R?3X}IQZA1TIF5[{">celsius</field>
      <field name="fahrenheit" id="=OOn8ZF8t.`6dkp^AtY8">fahrenheit</field>
    </block>
    <block type="robot_move">
      <field name="state">30</field>
      <field name="direction">forward</field>
    </block>
    <block type="robot_rotate">
      <field name="state">90</field>
    </block>
    <!-- <block type="robot_lamp">
      <field name="color">red</field>
    </block> -->
    <!-- <block type="iot">
      <field name="machine" id="FS2;^FBj]Ucr.1R/[a[p">machine</field>
      <field name="machine ip">machine ip</field>
    </block>
    <block type="iot_led">
      <field name="state">on</field>
      <field name="machine" id="FS2;^FBj]Ucr.1R/[a[p">machine</field>
    </block>
    <block type="iot_beep">
      <field name="state">on</field>
      <field name="beep" id="POsH5Gl{tk(mz,`jA/0a">beep</field>
      <field name="machine" id="^:SN7.Lq[P|}wi?+j(.#">machine</field>
    </block>
    <block type="iot_tone">
      <field name="tone" id="ByEN:?}]qHQpqvZ*0_fS">tone</field>
      <field name="note">do</field>
      <field name="machine" id="FS2;^FBj]Ucr.1R/[a[p">machine</field>
    </block>
    <block type="iot_temperature">
      <field name="temperature" id="j/U!ZYck,Z^ri1%j-6h9">temperature</field>
      <field name="machine" id="FS2;^FBj]Ucr.1R/[a[p">machine</field>
    </block>
    <block type="iot_celsius">
      <field name="celsius" id="vWT9yGB0SiBjBdpW8~EG">celsius</field>
      <field name="temperature" id="j/U!ZYck,Z^ri1%j-6h9">temperature</field>
    </block>
    <block type="iot_fahrenheit">
      <field name="fahrenheit" id="|f?jYs65luO]tAsYFxwa">fahrenheit</field>
      <field name="temperature" id="j/U!ZYck,Z^ri1%j-6h9">temperature</field>
    </block> -->
  </category>
  <category css-icon="bi bi-lightning" name="Platforms" colour="210">
    <block type="win_beep">
      <field name="frequency">100</field>
      <field name="duration">100</field>
    </block>
    <block type="thingspeak_write">
      <field name="thingspeak" id=")Vih(5%qGQk+`Z~|V;:C">thingspeak</field>
      <field name="key">key</field>
    </block>
    <block type="mailtrap_send">
      <field name="mailtrap" id="6wN^-8IUT,@5g^~reNm3">mailtrap</field>
      <field name="username">username</field>
      <field name="password">password</field>
    </block>
    <block type="ifttt_send">
      <field name="ifttt" id="4][i6/;gA(DF(+/7)gP4">ifttt</field>
      <field name="key">key</field>
      <field name="event">event</field>
    </block>
  </category>
  <category css-icon="bi bi-window-stack" name="Graphics" colour="230">
    <block type="gui_app">
      <field name="gui" id="lq{$!JHAlV$X|vaS[Ij+">gui</field>
      <next>
        <block type="gui_rows_layout">
          <field name="layout" id="a`Oalex#B$s0F.:VDoRC">layout</field>
          <statement name="NAME">
            <block type="gui_cols">
              <statement name="cols">
                <block type="gui_button">
                  <field name="gui" id="lq{$!JHAlV$X|vaS[Ij+">gui</field>
                  <field name="ok">OK</field>
                  <field name="tooltip">...</field>
                  <field name="sizex">0</field>
                  <field name="sizey">0</field>
                  <field name="colors">#ff0000</field>
                  <field name="expandx">FALSE</field>
                  <field name="expandy">FALSE</field>
                </block>
              </statement>
            </block>
          </statement>
          <next>
            <block type="gui_window">
              <field name="window" id="o`U[Dhw|caxO8LiTbU$j">window</field>
              <field name="gui" id="lq{$!JHAlV$X|vaS[Ij+">gui</field>
              <field name="layout" id="a`Oalex#B$s0F.:VDoRC">layout</field>
              <field name="title">My RiverSide App</field>
              <next>
                <block type="controls_whileUntil">
                  <field name="MODE">WHILE</field>
                  <value name="BOOL">
                    <block type="logic_boolean">
                      <field name="BOOL">TRUE</field>
                    </block>
                  </value>
                  <statement name="DO">
                    <block type="gui_event_value">
                      <field name="event" id="+2f7_vVZ~iX[]q%Ynl#,">event</field>
                      <field name="values" id="k6k!Iu5Cx{;j5QANQ,w_">values</field>
                      <field name="window" id="o`U[Dhw|caxO8LiTbU$j">window</field>
                      <next>
                        <block type="controls_if">
                          <value name="IF0">
                            <block type="logic_compare">
                              <field name="OP">EQ</field>
                              <value name="A">
                                <block type="variables_get">
                                  <field name="VAR" id="+2f7_vVZ~iX[]q%Ynl#,">event</field>
                                </block>
                              </value>
                              <value name="B">
                                <block type="text">
                                  <field name="TEXT">OK</field>
                                </block>
                              </value>
                            </block>
                          </value>
                          <next>
                            <block type="controls_if">
                              <value name="IF0">
                                <block type="logic_compare">
                                  <field name="OP">EQ</field>
                                  <value name="A">
                                    <block type="variables_get">
                                      <field name="VAR" id="+2f7_vVZ~iX[]q%Ynl#,">event</field>
                                    </block>
                                  </value>
                                  <value name="B">
                                    <block type="gui_exit">
                                      <field name="gui" id="lq{$!JHAlV$X|vaS[Ij+">gui</field>
                                    </block>
                                  </value>
                                </block>
                              </value>
                              <statement name="DO0">
                                <block type="controls_flow_statements">
                                  <field name="FLOW">BREAK</field>
                                </block>
                              </statement>
                            </block>
                          </next>
                        </block>
                      </next>
                    </block>
                  </statement>
                  <next>
                    <block type="gui_window_close">
                      <field name="window" id="o`U[Dhw|caxO8LiTbU$j">window</field>
                    </block>
                  </next>
                </block>
              </next>
            </block>
          </next>
        </block>
      </next>
    </block>
    <block type="gui_app">
      <field name="gui" id="lq{$!JHAlV$X|vaS[Ij+">gui</field>
    </block>
    <block type="get_values">
      <field name="values" id="k6k!Iu5Cx{;j5QANQ,w_">values</field>
      <field name="key">data</field>
    </block>
    <block type="gui_button">
      <field name="gui" id="lq{$!JHAlV$X|vaS[Ij+">gui</field>
      <field name="ok">ok</field>
      <field name="tooltip">...</field>
      <field name="sizex">0</field>
      <field name="sizey">0</field>
      <field name="colors">#ff0000</field>
      <field name="expandx">FALSE</field>
      <field name="expandy">FALSE</field>
    </block>
    <block type="utils_threading"></block>
  </category>
  <category css-icon="bi bi-cpu" name="Machine Communication" colour="290">
    <block type="open_machine"></block>
    <block type="machine_communication"></block>
    <block type="talk_with_machine"></block>
    <block type="command_machine"></block>
    <block type="get_machine_answer">
      <field name="var" id="G.VqTT-;^_@PA;QU(=y;">machine</field>
    </block>
  </category>
  <category css-icon="bi bi-lightning" name="Machine Actions" colour="160">
    <block type="led_on"></block>
    <block type="led_off"></block>
    <block type="led_blink"></block>
    <block type="temperature"></block>
    <block type="thingspeak_action"></block>
    <block type="celcius_to_fahrenheit"></block>
  </category>
</xml>