<div class="modal fade" id="modalSuccess" tabindex="-1" aria-labelledby="modalSuccess" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title text-light" id="exampleModalLabel">Success</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="divModalSuccess"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalWarning" tabindex="-1" aria-labelledby="modalWarning" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="divModalWarning"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalError" tabindex="-1" aria-labelledby="modalError" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-light" id="exampleModalLabel">Error</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="divModalError"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_pairing" tabindex="-1" aria-labelledby="modal_pairing" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_pairing_label">
          <i class="bi bi-link-45deg"></i> Pairing
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-primary mb-4"  role="alert">
          Before your pairing to PC, 
          please open <strong>River Bridge App</strong> 
          to connect with RiverSide!
        </div>
        <div class="form-group">
          <label class="mb-2">PC Name</label>
          <input type="text" placeholder="Computer name..." class="form-control" id="input_room_name" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn_pair_now">
          Pair
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal_save_project" tabindex="-1" aria-labelledby="modal_save_project" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_pairing_label">
          <i class="bi bi-cloud-download"></i> Save Project
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="mb-2">Project Name</label>
          <input type="text" placeholder="Project name" class="form-control" id="input_project_name" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-sm btn-primary" id="btn_save_project">
          Save
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal_open_project" tabindex="-1" aria-labelledby="modal_open_project" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_pairing_label">
          <i class="bi bi-cloud-upload"></i> Open Project
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <input class="form-control" type="file" id="input_open_project">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal_welcome" tabindex="-1" aria-labelledby="modal_welcome" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card modal-body bg-dark text-light">
        <img src="https://image.freepik.com/free-vector/industry-4-0-word-concepts-banner-connection-addressing-via-iot-infographics-with-linear-icons-blue-background-isolated-typography-four-revolution-outline-rgb-color-illustration_106317-2625.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Welcome to RiverSide</h5>
          <p class="card-text">
            Project ini dibangun untuk kebutuhan pendidikan anak-anak 
            untuk membantu mereka untuk mengenal dan belajar teknologi 
            masa kini (khususnya IoT - Internet of Thing) pada era Industri 4.0 dengan
            berbagai kemudahan dan kesenangan.
          </p>
          <a href="#" class="btn btn-primary">
            Build with Love, RiverSide by @_riverlabs
          </a>
        </div>
      </div>
    </div>
  </div>
</div>