
<nav class="navbar shadow navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="bi bi-clouds text-primary"></i>&nbsp;RiverSide Cloud
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" title="Projects" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-journal-bookmark-fill"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" id="link_save_project" href="#"><i class="bi bi-cloud-download"></i> Save Project</a>
            <a class="dropdown-item" id="link_new_project" href="#"><i class="bi bi-plus-circle-dotted"></i> New Project</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="link_open_project" href="#"><i class="bi bi-cloud-upload"></i> Open Project</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" title="Settings" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-gear"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" id="link_console" href="#"><i class="bi bi-body-text"></i> Console</a>
            <a class="dropdown-item" id="link_serial_com" href="#"><i class="bi bi-usb-symbol"></i> Serial Com</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="link_pairing" href="#"><i class="bi bi-broadcast"></i> Pairing</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" title="Packages" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-box"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" id="serial_com" href="#"><i class="bi bi-phone"></i> River Connection</a>
            <a class="dropdown-item" id="pairing" href="#"><i class="bi bi-plug"></i> River Brigde</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="pairing" href="#"><i class="bi bi-cpu"></i> Update Firmware</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" title="Help" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-info-circle"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" id="serial_com" href="#"><i class="bi bi-book"></i> Get Started</a>
            <a class="dropdown-item" id="pairing" href="#"><i class="bi bi-file-earmark"></i> View License</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="pairing" href="#"><i class="bi bi-motherboard"></i> Devices</a>
            <a class="dropdown-item" id="pairing" href="#"><i class="bi bi-lightbulb"></i> About</a>
          </div>
        </li>
      </ul>
      <div class="d-flex">
        <button id="support" title="Coffee Break" class="btn btn-warning my-2 my-sm-0">
          <i class="bi bi-cup-straw"></i>
        </button>
        &nbsp;
        <button id="btn_run" title="Run" class="btn btn-primary my-2 my-sm-0">
          <i class="bi bi-play-circle"></i> 
        </button>
      </div>
    </div>
  </div>
</nav>
