
<nav class="navbar shadow navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="bi bi-clouds-fill text-primary"></i>&nbsp;RiverLabs
    </a>
    <div class="container-fluid justify-content-start">
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button type="button" id="link_save_project" class="btn btn-outline-info">
          <i class="bi bi-cloud-download"></i>
        </button>
        <button type="button" id="link_open_project" class="btn btn-outline-info">
          <i class="bi bi-cloud-upload"></i>
        </button>
        <button type="button" id="link_new_project" class="btn btn-outline-info">
          <i class="bi bi-plus-circle-dotted"></i>
        </button>
      </div>
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <!-- <button type="button" id="link_console" class="btn btn-outline-info">
          <i class="bi bi-body-text"></i>
        </button> -->
        <button type="button" id="link_pairing" class="btn btn-outline-info">
          <i class="bi bi-link-45deg"></i>
        </button>
        <button type="button" data-bs-toggle="offcanvas" href="#offcanvasWebSerial" role="button" aria-controls="offcanvasWebSerial" id="link_serial_com" class="btn btn-outline-info">
          <i class="bi bi-usb-symbol"></i>
        </button>
      </div>
      <button id="btn_run" type="button" class="btn btn-info btn-sm">
        <i class="bi bi-play"></i>
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link disabled" id="link_filename" aria-current="page" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" id="link_room_name" aria-current="page" href="#"></a>
        </li>
      </ul>
      <div class="d-flex">
      </div>
    </div>
  </div>
</nav>
