<div class="offcanvas offcanvas-end bg-dark text-info" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasWebSerial" aria-labelledby="offcanvasWebSerial">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row">
      <div class="col-md-12">
        <label for="">Web Serial</label>
        <textarea class="mt-2 form-control bg-dark text-info" disabled id="textareaOffcanvasWebSerial" cols="30" rows="15"></textarea>
      </div>
      <!-- <div class="col-md-12 mt-2">
        <label for="" class="text-light">Result</label>
        <textarea class="mt-2 form-control bg-dark text-light" disabled id="textareaModalLog" cols="30" rows="15"></textarea>
      </div> -->
    </div>
  </div>
</div>

